.cta-section {
    color: var(--color-white);
    align-items: center;
    text-align: center;
    text-shadow: var(--drop-shadow-md);
}


.cta-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.cta-content h2 {
    font-family: var(--font-heading);
    font-size: var(--text-2xl);
    font-weight: var(--font-extrabold);
    line-height: 1.2; 
}

.cta-content span {
    color: var(--color-background-3);
}

.cta-content h3 {
    font-family: var(--font-heading);
    font-size: var(--text-xl);
    font-weight: var(--font-bold);
}

.final-cta {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Responsividade */
@media (max-width: 1023px) {
    .cta-content {
        gap: var(--spacing-md);
    }

    .cta-content h2 {
        font-size: var(--text-xl);
    }

    .cta-content h3 {
        font-size: var(--text-lg);
    }
}

@media (max-width: 767px) {
    .cta-content h2 {
        font-size: var(--text-lg);
    }

    .cta-content h3 {
        font-size: var(--text-base);
    }

    .final-cta {
        padding: var(--spacing-base) 0;
    }
}