.footer {
    justify-content: space-between;
    padding: var(--spacing-md);
    color: var(--color-white);
    background-color: var(--color-background-3);
    padding: var(--spacing-xl) var(--spacing-md);
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding-left: var(--spacing-md);
}

.footer-column a {
    text-decoration: none;
    height: 60px;
}

.footer-logo p {
    font-size: var(--text-2xl);
    font-family: var(--font-sans);
    font-weight: var(--font-black);
    text-decoration: none;
    color: var(--color-white);
}

.footer-logo-span {
    color: var(--color-primary);
}

.footer-logo-description {
    color: var(--color-white);
    padding-top: var(--spacing-md);
    line-height: 1.5;
}

.footer-column-title {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: var(--text-lg);
    font-family: var(--font-sans);
    font-weight: var(--font-bold);
    color: var(--color-white);
    border-left: 2px solid var(--color-primary);
    padding-left: 10px;
}

.footer-column-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    margin-left: 25px;
}

.footer-column-list a {
    text-decoration: none;
    color: var(--color-white);
}

.footer-contact {
    display: flex;
    align-items: center;
}

.footer-contact img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.footer-contact a {
    text-decoration: none;
    color: var(--color-white);
    padding-left: 15px;
}

.footer-social-links {
    display: flex;
    gap: var(--spacing-base);
}

.footer-social-links a {
    padding: 0;
}

.footer-social-links img {
    width: 32px;
    height: 32px;
    filter: invert(1);
    border-radius: var(--radius-2xl);
}