.footer {
    justify-content: space-between;
    padding: var(--spacing-md);
    color: var(--color-white);
    background-color: var(--color-background-3);
    padding: var(--spacing-xl) var(--spacing-md);
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding-left: var(--spacing-md);
}

.footer-column a {
    text-decoration: none;
    color: var(--color-white);
    transition: opacity 0.3s;
}

.footer-column a:hover {
    opacity: 0.25;
}

.footer-logo p {
    font-size: var(--text-2xl);
    font-family: var(--font-sans);
    font-weight: var(--font-black);
    text-decoration: none;
    color: var(--color-white);
}

.footer-logo-span {
    color: var(--color-primary);
}

.footer-logo-description {
    color: var(--color-white);
    padding-top: var(--spacing-md);
    line-height: 1.5;
}

.footer-column-title {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: var(--text-lg);
    font-family: var(--font-sans);
    font-weight: var(--font-bold);
    color: var(--color-white);
    border-left: 2px solid var(--color-primary);
    padding-left: 10px;
}

.footer-column-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    margin-left: 25px;
}

.footer-contact {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-contact img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.footer-social-links {
    display: flex;
    gap: var(--spacing-md);
    transition: all var(--default-transition-duration);
}

.footer-social-links a {
    padding: 0;
}

.footer-social-links img {
    width: 32px;
    height: 32px;
    border-radius: var(--radius-3xl);
    box-shadow: var(--drop-light-md);
}

.footer-social-links a:hover img {
    transform: translateY(-2px) var(--default-upscale);   
}

.footer-copy {
    text-align: center;
    margin-top: var(--spacing-xl);
}

@media (min-width: 1024px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1023px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 599px) {
    .footer {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xl);
    }
}