
main {
    display: grid;
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--spacing-md);
    gap: var(--spacing-xl);
    align-items: start;
}

.imgbox-section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: var(--spacing-md);
    gap: var(--spacing-xl);
    align-items: start;
}

.cards-section {
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--spacing-md);
    gap: var(--spacing-xl);
    align-items: start;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-lg);
}

.cta-section {
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--spacing-md);
    gap: var(--spacing-xl);
    align-items: center;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-lg);
}

@media (min-width: 1024px) {
    .cards-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-section {
        grid-template-columns: 1fr 1fr;
    }

    .imgbox-section {
        grid-template-columns: 3fr 2fr;
    }

    .cta-section {
        grid-template-columns: 1fr;
    }

    .footer-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1023px) {
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-section {
        grid-template-columns: 1fr;
    }

    .imgbox-section {
        grid-template-columns: 1fr;
    }

    .cta-section {
        grid-template-columns: 1fr;
    }

    .footer-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 599px) {

    .cards-grid {
        grid-template-columns: 1fr;
    }

    .hero-section {
        grid-template-columns: 1fr;
    }

    .imgbox-section {
        grid-template-columns: 1fr;
    }

    .cta-section {
        grid-template-columns: 1fr;
    }
    
    .footer {
        grid-template-columns: 1fr;
    }
    .footer-container {
        grid-template-columns: 1fr;
    }

}