:root {
        --font-heading: 'Plus Jakarta Sans', sans-serif;
        --font-body: 'Inter', sans-serif;
        
        /* Colors */
        --color-white: #fff;
        --color-black: #000;
        --color-red: #e7000b;
        --color-primary: #fe9a00;
        --color-secondary: #e17100;
        --color-background-1: #f8fafc;
        --color-background-2: #f1f5f9;
        --color-background-3: #0f172b;

        /* Spacing */
        --spacing-base: .5rem;
        --spacing-md: 1rem;
        --spacing-lg: 2rem;
        --spacing-xl: 5rem;

        /* Font size */
        --text-xs: .75rem;
        --text-sm: .875rem;
        --text-base: 1rem;
        --text-lg: 1.25rem;
        --text-xl: 1.5rem;
        --text-2xl: 2rem;
        --text-3xl: 2.5rem;

        /* Font weight */

        --font-medium: 400;
        --font-semibold: 500;
        --font-bold: 700;
        --font-extrabold: 800;
        --font-black: 900;

        /* Radius */
        --radius-lg: .5rem;
        --radius-xl: .75rem;
        --radius-2xl: 1rem;
        --radius-3xl: 1.5rem;

        /* Shadown and Blur */
        --drop-shadow-md: 0 3px 3px #0000001f;
        --drop-light-md: 0 2px 2px #836e6ebc;
        --blur-sm: 8px;
        --blur-3xl: 64px;
        
        /* Animations */
        --default-upscale: scale(1.10);
        --default-downscale: scale(0.75);
        --default-transition-duration: .15s;
        --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        --default-transition-duration: .15s;
    }